body{
	background-color: #F0FCE9;
	color: #0F0317;
	font-family:"Courier New", Courier, monospace;
	font-size:13px
}

A:link {color: blue;}
A:visited {color: blue;}
A:active {color: blue;}
A:hover {color: blue;}

textarea,input,select
{
	background:#ddf8cc;
	color:darkgreen;
	border:dashed thin #80c65a;
}

iframe.main { margin:0; padding:0; height:95%; display:block; width:100%; border:0; }

#sddm
{	
	margin: 0;
	padding: 0;
	z-index: 30;
}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial}

#sddm li a
{	display: block;
	margin: 0 5px 0 0;
	padding: 7px 10px;
	background:#fff url(img/image_drop_back.gif);
	color: #FFF;
	font-family:arial, sans-serif; font-size:11px;
	text-align: center;
	text-decoration: none;
}

#sddm li a:hover
{
	background: url(img/image_drop_1b.gif) right top;
	color: #FFF;
}


#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #000;
}

#sddm div a
{	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background:#fff url(img/drop_0.gif);
	color: #000;
	font: 11px arial
}

#sddm div a:hover
{	background: url(img/drop_1.gif);
	color: #000
}
	
#multi {height:30px; position:relative; z-index:100; background:#fff url(img/image_drop_back.gif) repeat-x; padding-left:20px;border:1px solid #000; border-width:0 1px;}