<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule  ^key* key.php [NC,L]
    RewriteRule  ^check* index.php [NC,L]
    RewriteRule ^check/(.*) index.php?key=$1 [NC,L]

</IfModule>