/*
 name:windowsvista_graphite
 theme:MS Windows Vista - Graphite
 */

.jaw_skin_windowsvista_graphite *, .jaw_skin_windowsvista_graphite-selected * {
  padding:0;
  border:0;
}

.jaw_skin_windowsvista_graphite, .jaw_skin_windowsvista_graphite-selected {
  position: absolute;
  visibility: hidden;
}

.jaw_skin_windowsvista_graphite_controls {
  position:absolute;
  top:0px;
  right:7px;
  z-index:2;
}

.jaw_skin_windowsvista_graphite table, .jaw_skin_windowsvista_graphite-selected table {
  border-collapse:collapse;
  border:0px;
  padding:0px;
  margin:0px;
}

.jaw_skin_windowsvista_graphite_sidebar {
  display:none;
  border:2px solid #777;
  position:absolute;  
} 

.jaw_skin_windowsvista_graphite .jaw_header, .jaw_skin_windowsvista_graphite-selected .jaw_header {
  font-family:'Arial';
  font-size:12px;
  font-weight:bold;
  color:#fff;
  position:relative;
  cursor:move;
}
.jaw_skin_windowsvista_graphite .jaw_header {
  color:rgb(66,77,83);
}

.jaw_skin_windowsvista_graphite .jaw_contentarea, .jaw_skin_windowsvista_graphite-selected .jaw_contentarea {
    background-color:#fff;
}

.jaw_skin_windowsvista_graphite .jaw_handle, .jaw_skin_windowsvista_graphite-selected .jaw_handle {
   cursor:default;
   overflow:hidden;
   width:auto;
}

.jaw_skin_windowsvista_graphite td.border00 {
  width:8px;
  height:28px;
  background-image:url('./border-00-passive.gif');
  background-repeat:no-repeat;
}
.jaw_skin_windowsvista_graphite-selected td.border00 {
  width:8px;
  height:28px;
  background-image:url('./border-00.gif');
  background-repeat:no-repeat;
}
.jaw_skin_windowsvista_graphite td.border00 div, .jaw_skin_windowsvista_graphite-selected td.border00 div {
  width:8px;
  height:28px;
}

.jaw_skin_windowsvista_graphite td.border10 {
  height:28px;
  background-image:url('./border-10-passive.gif');
  background-repeat:repeat-x;
}
.jaw_skin_windowsvista_graphite-selected td.border10 {
  height:28px;
  background-image:url('./border-10.gif');
  background-repeat:repeat-x;
}

.jaw_skin_windowsvista_graphite td.border20 {
  height:28px;
  background-image:url('./border-20-passive.gif');
  background-repeat:no-repeat;
}
.jaw_skin_windowsvista_graphite-selected td.border20 {
  height:28px;
  background-image:url('./border-20.gif');
  background-repeat:no-repeat;
}
.jaw_skin_windowsvista_graphite td.border20 div, .jaw_skin_windowsvista_graphite-selected td.border20 div {
  width:8px;
  height:28px;
}

.jaw_skin_windowsvista_graphite td.border01 {
  background-image:url('./border-01-passive.gif');
  background-repeat:repeat-y;
}
.jaw_skin_windowsvista_graphite-selected td.border01 {
  background-image:url('./border-01.gif');
  background-repeat:repeat-y;
}

.jaw_skin_windowsvista_graphite td.border21 {
  background-image:url('./border-21-passive.gif');
  background-repeat:repeat-y;
}
.jaw_skin_windowsvista_graphite-selected td.border21 {
  background-image:url('./border-21.gif');
  background-repeat:repeat-y;
}

.jaw_skin_windowsvista_graphite td.border02 {
  background-image:url('./border-02-passive.gif');
  background-repeat:no-repeat;
}
.jaw_skin_windowsvista_graphite-selected td.border02 {
  background-image:url('./border-02.gif');
  background-repeat:no-repeat;
}
.jaw_skin_windowsvista_graphite td.border02, .jaw_skin_windowsvista_graphite-selected td.border02 {
  width:8px;
  height:8px;
}

.jaw_skin_windowsvista_graphite td.border12 {
  background-image:url('./border-12-passive.gif');
  background-repeat:repeat-x;
}
.jaw_skin_windowsvista_graphite-selected td.border12 {
  background-image:url('./border-12.gif');
  background-repeat:repeat-x;
}

.jaw_skin_windowsvista_graphite td.border22 {
  background-image:url('./border-22-passive.gif');
  background-repeat:no-repeat;
}
.jaw_skin_windowsvista_graphite-selected td.border22 {
  background-image:url('./border-22.gif');
  background-repeat:no-repeat;
}

.jaw_skin_windowsvista_graphite .jaw_statusarea, .jaw_skin_windowsvista_graphite-selected .jaw_statusarea {
  background-image:url('./bottom-bg.gif');
  height:23px;
  background-repeat:repeat-x;
}

/* minimize */
.jaw_skin_windowsvista_graphite-selected .jaw_minimize {
  width:26px;
  height:18px;
  position:relative;
  left:2px;
  background-image:url('./min.gif');
  background-position:-26px 0px;
  background-repeat:no-repeat;
}

.jaw_skin_windowsvista_graphite .jaw_minimize {
  width:26px;
  height:18px;
  position:relative;
  left:2px;
  background-image:url('./passivebuttons.gif');
  background-position:0px 0px;
  background-repeat:no-repeat;
}

.jaw_skin_windowsvista_graphite .jaw_minimize-onmouseover, .jaw_skin_windowsvista_graphite-selected .jaw_minimize-onmouseover {
  width:26px;
  height:18px;
  position:relative;
  left:2px;
  background-image:url('./min.gif');
  background-position:-52px 0px;
  background-repeat:no-repeat;
}

.jaw_skin_windowsvista_graphite .jaw_minimize-onmousedown, .jaw_skin_windowsvista_graphite-selected .jaw_minimize-onmousedown {
  width:26px;
  height:18px;
  position:relative;
  left:2px;
  background-image:url('./min.gif');
  background-position:0px 0px;
  background-repeat:no-repeat;
}

/* fullscreen */
.jaw_skin_windowsvista_graphite-selected .jaw_fullscreen {
  width:26px;
  height:18px;
  position:relative;
  left:1px;
  background-image:url('./fullscreen.gif');
  background-position:-26px 0px;
  background-repeat:no-repeat;
}

.jaw_skin_windowsvista_graphite .jaw_fullscreen {
  width:26px;
  height:18px;
  position:relative;
  left:1px;
  background-image:url('./passivebuttons.gif');
  background-position:-52px 0px;
  background-repeat:no-repeat;
}

.jaw_skin_windowsvista_graphite .jaw_fullscreen-onmouseover, .jaw_skin_windowsvista_graphite-selected .jaw_fullscreen-onmouseover {
  width:26px;
  height:18px;
  position:relative;
  left:1px;
  background-image:url('./fullscreen.gif');
  background-position:-52px 0px;
  background-repeat:no-repeat;
}

.jaw_skin_windowsvista_graphite .jaw_fullscreen-onmousedown, .jaw_skin_windowsvista_graphite-selected .jaw_fullscreen-onmousedown {
  width:26px;
  height:18px;
  position:relative;
  left:1px;
  background-image:url('./fullscreen.gif');
  background-position:0px 0px;
  background-repeat:no-repeat;
}

/* restore */
.jaw_skin_windowsvista_graphite-selected .jaw_restore {
  width:26px;
  height:18px;
  position:relative;
  left:1px;
  background-image:url('./restore.gif');
  background-position:-26px 0px;
  background-repeat:no-repeat;
}

.jaw_skin_windowsvista_graphite .jaw_restore {
  width:26px;
  height:18px;
  position:relative;
  left:1px;
  background-image:url('./passivebuttons.gif');
  background-position:-26px 0px;
  background-repeat:no-repeat;
}

.jaw_skin_windowsvista_graphite .jaw_restore-onmouseover, .jaw_skin_windowsvista_graphite-selected .jaw_restore-onmouseover {
  width:26px;
  height:18px;
  position:relative;
  left:1px;
  background-image:url('./restore.gif');
  background-position:-52px 0px;
  background-repeat:no-repeat;
}

.jaw_skin_windowsvista_graphite .jaw_restore-onmousedown, .jaw_skin_windowsvista_graphite-selected .jaw_restore-onmousedown {
  width:26px;
  height:18px;
  position:relative;
  left:1px;
  background-image:url('./restore.gif');
  background-position:-0px 0px;
  background-repeat:no-repeat;
}

/* close */
.jaw_skin_windowsvista_graphite-selected .jaw_close {
  width:43px;
  height:18px;
  background-image:url('./close.gif');
  background-position:-43px 0px;
  background-repeat:no-repeat;
}

.jaw_skin_windowsvista_graphite .jaw_close {
  width:43px;
  height:18px;
  background-image:url('./passivebuttons.gif');
  background-position:-78px 0px;
  background-repeat:no-repeat;
}

.jaw_skin_windowsvista_graphite .jaw_close-onmouseover, .jaw_skin_windowsvista_graphite-selected .jaw_close-onmouseover {
  width:43px;
  height:18px;
  background-image:url('./close.gif');
  background-position:-86px 0px;
  background-repeat:no-repeat;
}

.jaw_skin_windowsvista_graphite .jaw_close-onmousedown, .jaw_skin_windowsvista_graphite-selected .jaw_close-onmousedown {
  width:43px;
  height:18px;
  background-image:url('./close.gif');
  background-position:0px 0px;
  background-repeat:no-repeat;
}

.jaw_skin_windowsvista_graphite .jaw_resizearea, .jaw_skin_windowsvista_graphite-selected .jaw_resizearea {
  background: transparent url('./resizer.gif') top right no-repeat;
  float: right;
  margin-top:9px;
  width: 14px;
  height: 14px;
  cursor: nw-resize;
  font-size: 0; 
}
